---
import { ARS } from "../util/currency";
import Button from "./Button.astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  href: string;
  img: ImageMetadata;
  price: number;
  slug: string;
}

const { title, href, img, price, slug } = Astro.props;
---

<article class="flex flex-col overflow-hidden rounded">
  <Image
    src={img}
    alt={title}
    class="aspect-[4/3] bg-primary object-cover object-center"
    format="avif"
    quality="mid"
  />
  <div class="flex flex-grow flex-col justify-between gap-4 bg-secondary p-4">
    <div>
      <h3 class="text-primary-dark text-xl font-bold">{title}</h3>
      <slot />
    </div>
    <div class="flex items-center gap-4">
      <Button href={href}>Comprar</Button>
      <span class="text-lg font-bold">
        {ARS.format(price)}
      </span>
    </div>
  </div>
</article>
